// 全局
$global_bg_color: #0f1923;
$global_color: #fff;
$global_border_color: #323b45;

$background : #0f1923;
$color: #fff;
$colorRed:#F12C4C;
$colorxian:#8d969e;
$colorchage:#C2C2C2;
$titlecolor:#F0F4F7;
$colortitle:#02A07B;
$colortitlebg:#75CBB8;
$bgdialog :#0f1923;
$success: #13ce66;

//  pop   PopupDialog  组件样式
$pop_charge_background:#fff;
$pop_close_color:#f1f1f1bb;



